* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #3367d6;
  height: 80px;
  width: 80vw;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.app-logo {
  margin-left: 48px;
  margin-right: 250px;
  width: 120px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-icon {
  background-color: #2850a7;
  border: 1px solid #64748b;
  padding: 10px;
  border-radius: 4px 0px 0px 4px;
}

.input-text {
  color: #ffffff;
  background-color: #2850a7;
  border: 1px solid #64748b;
  border-radius: 0px 4px 4px 0px;
  outline: none;
  padding: 14px;
  width: 350px;
}

.search-result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto';
  font-size: 20px;
}

.search-history {
  width: 90%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
